h1 {
  margin-left: 5em;
}

.selected {
  border: green 2px solid !important;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  width: 40em;
  height: 40em;
  margin: auto;
}

.game-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.square {
  display: flex;
  flex-grow: 1;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border: rgba(255, 255, 255, 0) 2px solid;
}

.game-row:nth-child(odd) .square:nth-child(odd) {
  background-color: white;
}

.game-row:nth-child(odd) .square:nth-child(even) {
  background-color: black;
}

.game-row:nth-child(even) .square:nth-child(odd) {
  background-color: black;
}

.game-row:nth-child(even) .square:nth-child(even) {
  background-color: white;
}

.white-pawn {
  background-image: url('../assets/white_pawn.png') !important;
}

.white-rook {
  background-image: url('../assets/white_rook.png') !important;
}

.white-knight {
  background-image: url('../assets/white_knight.png') !important;
}

.white-bishop {
  background-image: url('../assets/white_bishop.png') !important;
}

.white-queen {
  background-image: url('../assets/white_queen.png') !important;
}

.white-king {
  background-image: url('../assets/white_king.png') !important;
}

.black-pawn {
  background-image: url('../assets/black_pawn.png') !important;
}

.black-rook {
  background-image: url('../assets/black_rook.png') !important;
}

.black-knight {
  background-image: url('../assets/black_knight.png') !important;
}

.black-bishop {
  background-image: url('../assets/black_bishop.png') !important;
}

.black-queen {
  background-image: url('../assets/black_queen.png') !important;
}

.black-king {
  background-image: url('../assets/black_king.png') !important;
}