.game-wrapper {
  display: flex;
  flex-direction: column;
  width: 50em;
  height: 50em;
  margin: auto;
}

.row {
  display: flex;
  flex-grow: 1;
}

.square {
  display: flex;
  flex-grow: 1;
  border: rgba(255, 255, 255, 0) 5px solid;
}

.red {
  border: 5px red solid;
  border-radius: 50%;
}

.white {
  border: 5px white solid;
  border-radius: 50%;
}

.row:nth-child(odd) .square:nth-child(odd) {
  background: black;
}

.row:nth-child(odd) .square:nth-child(even) {
  background: wheat;
}

.row:nth-child(even) .square:nth-child(odd) {
  background: wheat;
}

.row:nth-child(even) .square:nth-child(even) {
  background: black;
}