html, body {
  height: 99%;
}

#input {
  flex-grow: 1;
  border: none;
}

#input-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 99%;
}

#gt-sign {
  margin-right: 0.5%;
}

#text {
  position: absolute;
  resize: none;
  height: 94%;
  width: 99%;
}